@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;1,300;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Libre Franklin", sans-serif;
  background-image: url(components/images/logo.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 160px;
}

h1 {
  font-size: 48px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  margin: 20px 0px 10px 0px;
}

h2 {
  font-size: 12px;
  font-weight: lighter;
  color: hsl(0, 0%, 59%);
  font-family: "Libre Franklin", sans-serif;
  margin-top: 25px;
  margin-bottom: 49px;
}

#container span {
  font-size: 48px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

p {
  font-size: 20px;
  font-weight: 400;
  color: hsl(209, 33%, 12%);
  font-family: "Libre Franklin", sans-serif;
}

#subscribe {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

input {
  width: 421px;
  height: 56px;
  padding: 20px;
  border-radius: 500px;
  margin: 0px 20px 0px 0px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: hsl(209, 33%, 12%);
  font-family: "Libre Franklin", sans-serif;
  background-color: #ffffff;
  border: 1px solid hsl(223, 100%, 88%);
}

::placeholder {
  font-size: 16px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  color: hsl(223, 100%, 88%);
}

#subscribe span {
  display: none;
  font-size: 12px;
  font-family: "Libre Franklin", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: hsl(354, 100%, 66%);
  margin-top: 6px;
  margin-left: 24px;
}

button {
  width: 200px;
  height: 56px;
  border-radius: 999px;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-family: "Libre Franklin", sans-serif;
  color: #ffffff;
  background-color: hsl(223, 87%, 63%);
  box-shadow: rgb(79, 125, 243) 0 10px 20px -10px;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgb(79, 125, 243, 0.35) 0 -25px 18px -14px inset,
    rgb(79, 125, 243, 0.25) 0 1px 2px, rgb(79, 125, 243, 0.25) 0 2px 4px,
    rgb(79, 125, 243, 0.25) 0 4px 8px, rgb(79, 125, 243, 0.25) 0 8px 16px,
    rgb(79, 125, 243, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.modal img {
  width: 40px;
  height: 40px;
}

.modal {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-content {
  width: 300px;
  padding: 20px;
  margin: 15% auto;
  text-align: center;
  border-radius: 20px;
  background-color: #fefefe;
  border: none;
}

.modal-message {
  color: hsl(209, 33%, 12%);
  font-size: 20px;
  font-weight: 400;
  font-family: "Libre Franklin", sans-serif;
}

#illustration {
  width: 640px;
  height: 383px;
  margin-top: 95px;
  margin-bottom: 72px;
}

.icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 59%, 0.192);
  margin: 10px;
  width: 32px;
  height: 31px;
  background-size: cover;
}

.icon-facebook {
  transition: transform 250ms;
  background-image: url(components/images/icons/facebook.png);
}

.icon-facebook:hover,
.icon-facebook:focus {
  transform: translateY(-1px);
  background-image: url(components/images/icons/facebook-app-symbol.png);
}

.icon-twitter {
  transition: transform 250ms;
  background-image: url(components/images/icons/twitternormal.png);
}

.icon-twitter:hover,
.icon-twitter:focus {
  transform: translateY(-1px);
  background-image: url(components/images/icons/twitter.png);
}

.icon-insta {
  transition: transform 250ms;
  background-image: url(components/images/icons/instagramnormal.png);
}

.icon-insta:hover,
.icon-insta:focus {
  transform: translateY(-1px);
  background-image: url(components/images/icons/instagram.png);
}

.attribution {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  font-family: "Libre Franklin", sans-serif;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Libre Franklin", sans-serif;
    background-image: url(components/images/logo.svg);
    background-repeat: no-repeat;
    background-position: center 81px;
    overflow: visible;
  }

  #container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 137px;
  }

  h1 {
    font-size: 22px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    margin-bottom: 15px;
  }

  h2 {
    font-size: 10px;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    font-family: "Libre Franklin", sans-serif;
    margin: 10px;
  }

  #container span {
    font-size: 22px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    color: hsl(209, 33%, 12%);
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: hsl(209, 33%, 12%);
    font-family: "Libre Franklin", sans-serif;
    margin-bottom: 10px;
  }

  #subscribe {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
  }

  input {
    width: 282px;
    height: 40px;
    padding: 20px;
    border-radius: 500px;
    outline: none;
    margin-right: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    font-size: 12px;
    background-color: #ffffff;
    border: 1px solid hsl(223, 100%, 88%);
  }

  ::placeholder {
    font-size: 14px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
    color: hsl(223, 100%, 88%);
  }

  #subscribe span {
    display: none;
    font-size: 10px;
    font-family: "Libre Franklin", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: hsl(354, 100%, 66%);
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 0px;
  }

  button {
    display: inline-block;
    width: 282px;
    height: 40px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-family: "Libre Franklin", sans-serif;
    color: #ffffff;
    background-color: hsl(223, 87%, 63%);
    box-shadow: rgb(79, 125, 243) 0 10px 20px -10px;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 5px;
  }

  .modal img {
    width: 40px;
    height: 40px;
  }

  .modal {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .modal-content {
    width: 300px;
    padding: 20px;
    margin: 15% auto;
    text-align: center;
    border-radius: 20px;
    background-color: #fefefe;
    border: none;
  }

  .modal-message {
    color: hsl(209, 33%, 12%);
    font-size: 20px;
    font-weight: 400;
    font-family: "Libre Franklin", sans-serif;
  }

  #illustration {
    width: 350px;
    height: auto;
    margin-top: 72px;
    margin-bottom: 120px;
  }
}
